/* general font famliy to page */
* {
    font-family: 'Merriweather', serif;
}

:root {
    --text-colour: wheat;
    --light-black: rgba(0, 0, 0, 0.05);
    --dark-black: rgba(0, 0, 0, 0.8);
    --light-grey: lightgrey;
    --all-black: black;
}

/* change navbar background colour */
.navbar {
    background-color: var( --dark-black) !important;
}

.nav-link,
.navbar-brand {
    color: var(--text-colour) !important;
}

.navbar-toggler {
    background-color: var(--text-colour);
}

.navbar button {
    background-color: var(--text-colour);
    color: var( --all-black);
    border: var( --all-black);
    cursor: pointer;
}

.navbar button:hover {
    background-color: var(--light-grey);
    color: var( --all-black);
    cursor: pointer;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: var(--light-grey);
    cursor: pointer;
}

#about-me {
   margin-block-start: 75px;
   margin-block-end: 20px;
   background-color: var( --light-black);
   padding-block-start: 10px;
   padding-block-end: 10px;
   border-radius: 10px;
}

/* add gaps between and below rows */
.card-rows {
    margin-block-end: 10px;
}

/* align columns in center */
.card-cols {
    display: flex;
    /* justify-content: center; */
    margin-block-end: 10px;
}

/* adjust images to 100% height to avoid size differences */
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#skills-section {
    background-color:  var( --light-black);
    margin-block-end: 10px;
    padding-block-start: 10px;
    padding-block-end: 10px;
    border-radius: 10px;
}

.list-group {
    max-width: 100%;
}

/* footer style */
footer {
    padding-block-start: 30px;
    background-color: var( --dark-black);
    color: var(--text-colour);
}

footer a {
    color: #999;
    text-decoration: none;
}

footer address, p {
    font-size: 12px;
}

.footer-heading {
    margin-block-end: 10px;
}

.fa-brands:hover {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    cursor: pointer;
}

footer h7 {
    color: var(--light-grey);
}

/* media query to center footer on small screens */
@media only screen and (max-width: 800px) {
    #about-me, #skills-section, .footer-cols, #work-section {
        text-align: center;
    }
    #social-icons {
        justify-content: center;
    }
}
