/* general font famliy to page */
* {
    font-family: 'Merriweather', serif;
}

/* colour variables */
:root {
    --text-colour: wheat;
    --grey-background: rgba(0, 0, 0, 0.05);
    --dark-black: rgba(0, 0, 0, 0.8);
    --light-grey: lightgrey;
    --all-black: black;
    --button-colour: #999
}

/* navbar styles */
.navbar {
    background-color: var(--dark-black) !important;
}

.nav-link,
.navbar-brand {
    color: var(--text-colour) !important;
}

.navbar-toggler, .navbar button, .btn {
    background-color: var(--text-colour);
}

.navbar button {
    color: var(--all-black);
    border: var(--all-black);
}

/* hover effects for navbar button and website buttons in work section */
.navbar button:hover, .btn:hover {
    background-color: var(--button-colour);
    color: white;
    cursor: pointer;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: var(--light-grey);
    cursor: pointer;
}

/* hero section styles */
#hero-section {
    margin-block-start: 75px;
    padding-block-end: 10px;
}

/* profile icon */
#profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 25px;
}

/* combining common styles across page sections */
#hero-section, #work-section, #skills-section, #about-me-contact {
    background-color: var(--grey-background);
    border-radius: 10px;
    padding-block-start: 25px;
    margin-block-end: 20px;
}

.btn {
    align-items: center;
}

/* add gaps between and below rows */
.card-rows {
    margin-block-end: 10px;
}

/* align columns in center */
.card-cols {
    display: flex;
    margin-block-end: 10px;
}

.card:hover {
    transform: scale(1.15);
    cursor: zoom-in;
}

/* adjust images to 100% height to avoid size differences */
.img-fluid {
    height: 100%;
}

/* skills section styles */
#skills-section, #about-me-contact  {
    padding-block-end: 10px;
}

.list-group {
    max-width: 100%;
}

.accordion-button:not(.collapsed) {
    background-color: var(--light-grey);
}

.accordion-button:not(.collapsed) {
    color: var(--all-black);
}

/* footer styles */
footer {
    padding-block-start: 30px;
    background-color: var(--dark-black);
    color: var(--text-colour);
}

footer address,
p {
    font-size: 12px;
}

.footer-heading {
    margin-block-end: 10px;
}

/* hover effect for navbar and fa-brands in footer */
.fa-brands:hover,
.nav-item:hover {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    cursor: auto;
}

h6 {
    color: var(--light-grey);
}

.footer-cols {
    text-align: center;
}

#email:hover {
    text-decoration: underline;
}

#email {
    cursor: pointer;
    text-decoration: none;
}

#contact-me p, a {
    color: var(--text-colour);
    text-decoration: none;
}

#social-icons {
    justify-content: center;
}

/* media query to center footer on small screens */
@media only screen and (max-width: 800px) {

    #hero-section,
    #skills-section,
    #work-section,
    #about-me-contact {
        text-align: center;
    }

    #social-icons {
        justify-content: center;
    }

    .accordion-body {
        text-align: left;
    }
}