#about-me {
   margin-block-start: 70px;
   margin-block-end: 20px;
   background-color: rgba(0, 0, 0, 0.05);
   padding-block-end: 10px;
}

/* 
.card {
    width: 18rem;
} */

/* add gaps between and below rows */
.card-rows {
    margin-block-end: 10px;
}

/* align columns in center */
.card-cols {
    display: flex;
    justify-content: center;
    margin-block-end: 10px;
}

/* adjust images to 100% height to avoid size differences */
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* change navbar background colour */
.navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link,
.navbar-brand {
    color: wheat !important;
}

.navbar-toggler {
    background-color: wheat;
}

.navbar button {
    background-color: wheat;
    color: black;
    border: black;
}

.navbar button:hover {
    background-color: grey;
}

#skills-section {
    background-color: rgba(0, 0, 0, 0.05);
    margin-block-end: 10px;
    padding-block-end: 10px;

}

.list-group {
    max-width: 75%;
}
/* Sticky footer style and color
-------------------------------------------------- */
footer {
    padding-block-start: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: wheat;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: white;
    text-decoration: none;
    /* border-block-end: #aaa solid 1px; */
    cursor: pointer;

}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

#send-button:hover {
    background-color: grey !important;
    color: white;

}

#send-button {
    background-color: wheat !important;
    color: black;
    border: black;
}


#exampleInputEmail1,
#exampleMessage,
#send-button {
    background-color: white;
    margin-block-end: 10px;
}

#exampleInputEmail1,
#exampleMessage {
    max-width: 70%;
}